FASHION_PRODUCT_SERVICE=postgres://productservice:pa55word@localhost:5432/fashionproductservice?sslmode=disable
PORT=5000
ENV=development
JWT_PUBLIC_KEY=./ec_public.pem  # Copy from user-service
USER_SERVICE_URL=http://user-service:4000
JWT_PUBLIC_KEY=./ec_public.pem