version: '3.8'
services:
  db:
    image: postgres:16
    networks:
      - backend
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fashionmarket
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    networks:
      - backend
    depends_on:
      - db
    environment:
      DB_DSN: postgres://postgres:postgres@db:5432/fashionmarket?sslmode=disable
      JWT_PRIVATE_KEY: /keys/ec_private.pem
      JWT_PUBLIC_KEY: /keys/ec_public.pem
    volumes:
      - ./ec_private.pem:/keys/ec_private.pem
      - ./ec_public.pem:/keys/ec_public.pem
    ports:
      - "4000:4000"
networks:
  backend:
    driver: bridge

volumes:
  postgres_data: