FASHION_ORDER_SERVICE=postgres://fashionorder:pa55word@localhost:5432/fashionorderservice?sslmode=disable
PORT=5000
ENV=development
JWT_PUBLIC_KEY=./ec_public.pem  
USER_SERVICE_URL=http://user-service:4000
JWT_PUBLIC_KEY=./ec_public.pem