export FASHIONUSERS_DB_DSN=postgres:users:pa55word@localhost:5432/fashionuserservice?sslmode=disable
export SMTP_PASSWORD=79b61b2090591d
export  SMTP_SENDER=Fashion <pauloluwadamilare912@gmail.com>
export JWT_PRIVATE_KEY=./ec_private.pem
export JWT_PUBLIC_KEY=./ec_public.pem